.animation-fadeIn {
  animation: fadeIn 1.5s;
}

.animation-fadeOut {
  animation: fadeOut 1.5s;
}

.toggleOutLv_1{
  animation: toggleOut_1 0.5s;
}
.toggleOutLv_2{
  animation: toggleOut_2 0.5s;
}
.toggleOutLv_3{
  animation: toggleOut_3 0.5s;
}
.toggleOutLv_4{
  animation: toggleOut_4 0.5s;
}
.toggleOutLv_5{
  animation: toggleOut_5 0.5s;
}
.toggleOutLv_6{
  animation: toggleOut_6 0.5s;
}
.toggleOutLv_7{
  animation: toggleOut_7 0.5s;
}
.toggleOutLv_8{
  animation: toggleOut_8 0.5s;
}


.container-margin-full-to-mini{
  animation: animation-container-margin-full-to-mini 0.5s;
}

.container-title-menu-full-to-mini{
  animation: animation-container-title-menu-full-to-mini 0.5s;
}
.side-bar-full-to-mini{
  animation: animation-side-bar-full-to-mini 0.5s;
}

.container-margin-mini-to-full{
  animation: animation-container-margin-mini-to-full 0.5s;
}

.container-title-menu-mini-to-full{
  animation: animation-container-title-menu-mini-to-full 0.5s;
}
.side-bar-mini-to-full{
  animation: animation-side-bar-mini-to-full 0.5s;
}

.container-margin-none-to-full{
  animation: animation-container-margin-none-to-full 0.5s;
}

.side-bar-none-to-full{
  animation: animation-side-bar-none-to-full 0.5s;
}

.container-margin-full-to-none{
  animation: animation-container-margin-full-to-none 0.5s;
}

.side-bar-full-to-none{
  animation: animation-side-bar-full-to-none 0.5s;
}

.animation-flipInY {
  animation: flipInY 0.5s;
  backface-visibility: visible !important;
}