@font-face {
  font-family: base;
  src: url('../font/opensans.ttf');
}
$font:base;
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@-webkit-keyframes toggleOut {
  from {
    margin-bottom: 100px;
  }
  to{
    margin-bottom: 0px;
  }
}

.transition{
  animation: toggleOut 2s;
}

.animation-fadeIn {
  animation: fadeIn 1s;
}

.animation-fadeOut {
  animation: fadeOut 1s;
}