$main-color: #3399cc;
$second-main-color:#fff;
$side-bar-menu-color:#ebebec;
$side-bar-menu-font-color:#000;
$border-color:#eee;
$font-color:#F5F5F5;
$content-background-color:#F5F5F5;
$alert-color:#c00;
.skin-1{
  height: 100%;
  .header {
    background-color: $second-main-color;
    .menu-toggle-button {
      background-color: $main-color;
      color: $font-color;
    }
    .menu-toggle-button:active{
      color: $main-color;
      background-color: #fff;
    }

    .header-exit{
      color: $main-color;
    }
    .header-exit:hover{
      color: $alert-color;
    }
    .header-exit:active{
      color: red;
    }

  }
  .side-bar{
    width: 218px;
    border-right: solid 2px $border-color;
    background-color: $side-bar-menu-color;
    .side-bar-title{
      background-color: $main-color;
      .side-bar-title-skin{
        position: relative;
        div:nth-child(1){
          animation: fadeIn 7s infinite;
          position: absolute;
          transform: rotate(70deg)rotateX(20deg) rotateY(60deg);
          left:-60px;
          top:-70px;
          height: 90px;
          width: 90px;
          background-color: #3399c8;
        }
        div:nth-child(2){
          position: absolute;
          animation: fadeIn 8s infinite;
          transform: rotate(-70deg)rotateX(20deg) rotateY(60deg);
          top:-65px;
          left:25px;
          height: 90px;
          width: 90px;
          background-color: #3399ca;
        }
        div:nth-child(3){
          position: absolute;
          animation: fadeIn 9s infinite;
          transform: rotate(-100deg)rotateX(20deg) rotateY(60deg);
          top:-65px;
          left:97px;
          height: 90px;
          width: 90px;
          background-color: #3399d0;
        }
        div:nth-child(4){
          animation: fadeIn 10s infinite;
          position: absolute;
          top:-6px;
          left:89px;
          width:0;
          height:0;
          border-top:15px solid transparent;
          border-bottom:110px solid transparent;
          border-right:104px solid #3399d4;
        }
      }

      .side-bar-title-name{
        color: $font-color;
      }
      .side-bar-title-power{
        color: $font-color;
        i{
          color: $font-color;
        }
      }
    }
    .side-bar-menu {
      ul {
        li {
          color: $main-color;
          ul{
            li{
              color: $main-color;
            }
            .active{
              border-right: 0px;
            }
          }
          .side-bar-menu-pop {
            background-color: orange;
          }
        }
        li:hover {
          color: $side-bar-menu-font-color;
        }
        .active{
          border-right: solid 5px $main-color;
          background-color: $side-bar-menu-color;
          color: $side-bar-menu-font-color;
        }
      }
    }
  }

  .side-bar-toggle {
    background-color: $side-bar-menu-color;
    .side-bar-toggle-menu {
      ul {
        li {
          color: $main-color;
        }
        .active {
          background-color: $main-color;
          color: $font-color;
        }
      }
    }
  }
  .side-bar-toggle:hover{
    background-color: $main-color;
    ul {
      li {
        color: $font-color;
      }
      .active {
        background-color: $second-main-color;
        color: $main-color;
      }
    }

  }


  .container {
    color: $main-color;
    .title-menu {
      border-top: solid 2px $border-color;
      border-bottom: solid 3px $border-color;
      .title-menu-button{
        border-right: solid 1px $border-color;
        background-color: $second-main-color;
      }
      .title-menu-button-forward {
        border-left: solid 1px $border-color;
      }
      .title-menu-container{
        border-right: solid 1px $border-color;
        background-color: $second-main-color;
        ul{
          li{
            border-right: solid 1px $border-color;
          }
          li:hover{
            background-color: $content-background-color;
          }
          .active{
            i:hover{
              cursor: pointer;
              color: $alert-color;
            }
          }
          .active:hover{
            i:hover{
              cursor: pointer;
              color: $alert-color;
            }
          }
        }
      }
      .title-menu-button:hover{
        background-color: $content-background-color;
      }
      .title-menu-button:active{
        color:$font-color;
        background-color: $main-color;
      }
      .title-menu-drop-down{
        background-color: $second-main-color;
        border: solid 2px $border-color;
        .top{
          border-bottom:solid 3px $border-color;
        }
        li{
          color: $main-color;
        }
        li:hover{
          color: $border-color;
        }
      }
      .active{
        height: 37px;
        border-bottom: solid 5px $main-color;
      }
      .active:hover{
        background-color: $content-background-color;
      }
    }
    .content {
      background-color: $content-background-color;
    }

  }
}