/*
@font-face {
  font-family: base;
  src: url('../src/opensans.ttf');
}
*/

$font: 'Microsoft YaHei';
@import './constants/keyframes';
@import './constants/animation';

body {
  overflow-y: hidden;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: $font;
  font-weight: 600;
  li {
    list-style: none;
  }
  .br-line {
    margin: 0 auto;
    width: 80%;
  }
  .container {
    height: 100%;
    z-index: 1000;
  }

  .btn {
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    border: solid 2px;
    border-radius: 5px;
  }
  .btn:focus {
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .standard-ul {
    padding: 0;
    li {
      padding:1% 0;
      height: 25px;
      font-weight: 600;
      line-height: 25px;
      input {
        width: 40%;
        line-height: 23px;
        margin: 0 0 0 10%;
        text-align: center;
        border: solid 1px;
        border-radius: 5px;
      }
      select{
        line-height: 23px;
        margin: 0 0 0 10%;
        text-align: center;
      }
      i{
        cursor: pointer;
        margin: 0 0 0 10%;
        font-size: 25px;
      }
    }
  }

  .standard-ul-two-column{
    li{
      float: left;
      width: 50%;
      span{
        float: left;
      }
      span:nth-child(1){
        display: block;
        width: 25%;
      }
      span:nth-child(2){
        display: block;
        width: 75%;
      }
    }
  }

  .shield{
    background-color:rgba(221,221,221,0.7) ;
    z-index: 1001;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .shield-content{
    position: absolute;
    z-index: 1002;
    top:15%;
    left:15%;
    border-radius: 10px;
    opacity: 1 ;
    background-color: #fff;
    height: 70%;
    width: 70%;
  }
  .shield-alert{
    position: absolute;
    z-index: 1002;
    top:calc(50% - 100px);
    left:calc(50% - 200px);
    border-radius: 5px;
    opacity: 1 ;
    background-color: #fff;
    height: 200px;
    width: 300px;
    .alert-header{
      padding: 10px 0 0 10px;
      height: 30px;
      border-bottom: solid 3px;
    }
    .alert-content{
      text-align: center;
      height: 77px;
      padding: 20px 50px 0px 50px;
      line-height: 25px;
    }
    .alert-footer{
      float: right;
    }
  }
}

@import './components/content/normal-table';
@import './components/shield-modify';
@import './components/side-bar';
@import './components/header';
@import './components/title-menu';
@import './components/content.scss';
@import './components/content/content-container';
@import './components/content/component-option-bar';

@import './skin/skin-1';
@import './skin/skin-2';
@import './skin/skin-3';
