@import './constants/constants';

body {
  overflow-y: hidden;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: $font;
  font-weight: 600;
  li {
    list-style: none;
  }

  .container {
    margin-left: 220px;
    height: 100%;
    z-index: 1000;
  }
}



@import './skin/skin-1';
@import './components/side-bar';
@import './components/header';
@import './components/title-menu';
@import './components/content';


