.content-container {
  position: relative;
  border:solid 2px;
  top:10px;
  margin: 0 auto;
  font-weight: 100;
  width: 96%;
  height: 100%;
  .content-container-inset {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    .content-setting-frame{
      overflow-y: auto;
    }

    .content-setting-nav-bar{
      user-select: none;
      ul{
        margin-top:20px;
        padding: 0;
        li{
          border-left: solid 5px transparent;
          text-align: center;
          line-height: 50px;
          cursor: pointer;
          height: 50px;
          font-weight: 600;
        }
        li:hover{
          border-left:solid 5px;
        }
      }
    }

    .right-active-content{
      margin:0 5% 0 5%;
      .right-active-content-header{
        height: 50px;
        line-height: 50px;
        cursor: default;
        user-select: none;
        font-weight: 600;
        .br-line{
          width: 100%;
        }
      }
      ul{
        padding: 0;
        li{
          height: 25px;
          margin-top: 25px;
          font-weight: 600;
          line-height: 25px;
          input{
            height: 100%;
            margin-left: 10%;
            border:solid 1px;
            border-radius: 5px;
          }
        }
      }
    }
    .skin-group{
      div{
        cursor: pointer;
        background-color: pink;
        float: left;
        margin: 5% 0 0 5%;
        height: 80px;
        width: 100px;
      }
      .active:before{
        color: #fff;
        line-height: 80px;
        text-align: center;
        color: #00ff00;
        font-size: 50px;
        content: '√';
        background-color: #000;
        opacity: 0.3;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .content-setting-header {
      height: 50px;
    }

    table{
      border-spacing: 0px;
      padding: 0;
      border:solid 2px;
      font-size: 14px;
      min-width: 700px;
      thead{
        tr{
          height: 35px;
          th{
            border: 1px solid;
            text-align: center;
          }
        }
        th:nth-child(1){
          width: 70px;
        }
      }
      tbody{
        tr{
          height: 30px;
          td{
            border-bottom: 1px solid;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            i{
              line-height: 30px;
              font-size: 25px;

            }
            .menu-toggle{
              cursor: pointer;
            }
            .menu-toggle:hover{
              color: #cecece;
            }
          }
        }
        tr:hover{
          background-color: #fffdf5;
        }
        .active{
          background-color: #fcffe8;
        }
      }
    }

    .option-menu-progress{
      font-size: 100%;
      font-weight: 600;
      ul{
        margin: 0;
        padding: 0;
        height: 60px;
        li {
          cursor: pointer;
          user-select: none;
          span{
            position: relative;
            top:4px;
            font-weight: bolder;
            font-size: 200%;
          }
          text-align: center;
          height: 59px;
          line-height: 59px;
          width: 25%;
          float: left;
          position: relative;
          list-style: none;
          border-top: solid 2px #ddd;
          border-bottom: solid 2px #ddd;
        }

        li:after,li:before {
          border: 30px solid transparent;
          border-left: 30px solid #fff;
          width: 0;
          height: 0px;
          position: absolute;
          top: 0;
          right: -58px;
          content: ' '
        }

        li:before {
          border-left-color: #ddd;
          right: -60px;
        }
        li:last-child::after,li:last-child::before{
          border: 0px solid transparent;
          border-left: 0px solid #fff;
          width: 0;
          height: 0px;
          position: absolute;
          top: 0;
          right: 0px;
          content: ' '
        }

        .active{
          span{
          }
          height: 59px;
          border-bottom: solid 2px;
          line-height: 59px;
        }
        .singleProgress:hover{
          color:#000 !important;
        }
      }
    }
  }
  .option-menu-footer{
    width: 100%;
    border-top: solid 2px #ddd;
    line-height: 100%;
    .btn-group{
      float: right;
    }
  }

}