.normal-table{
  width: 100%;
  .normal-table-header{
    display: inline-block;
    height: 56px;
    width: 100%;
    line-height: 56px;
  }

  .normal-table-content{
    overflow-y: auto !important;
    text-align: center;
    table{
      width: 100%;
      tr{
        th{

        }
        td{
          text-align: center;
        }
      }
    }
    .menu-toggle{
      width: 17px;
    }
    .menu-no-toggle{
      display: inherit;
      float: left;
      height: 30px;
      width: 17px;
    }
  }
  .normal-table-footer{
    padding:0 3% 10px 3%;
    height: 50px;
    line-height: 40px;
    width: 94%;
  }
}