@font-face {
  font-family: base;
  src: url("./font/opensans.ttf"); }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
body {
  overflow-y: hidden;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: base;
  font-weight: 600; }
  body li {
    list-style: none; }
  body .container {
    height: 100%;
    z-index: 1000; }

.animation-fadeIn {
  animation: fadeIn 1s; }

.animation-fadeOut {
  animation: fadeOut 1s; }

.skin-1 {
  height: 100%; }
  .skin-1 .side-bar {
    background-color: #2f4050; }
    .skin-1 .side-bar .side-bar-title {
      background-color: #233645; }
      .skin-1 .side-bar .side-bar-title .side-bar-title-skin {
        position: relative; }
        .skin-1 .side-bar .side-bar-title .side-bar-title-skin div:nth-child(1) {
          animation: fadeIn 5s infinite;
          position: absolute;
          transform: rotate(70deg) rotateX(20deg) rotateY(60deg);
          left: -60px;
          top: -70px;
          height: 90px;
          width: 90px;
          background-color: #273d4a; }
        .skin-1 .side-bar .side-bar-title .side-bar-title-skin div:nth-child(2) {
          position: absolute;
          animation: fadeIn 2s infinite;
          transform: rotate(-70deg) rotateX(20deg) rotateY(60deg);
          top: -65px;
          left: 25px;
          height: 90px;
          width: 90px;
          background-color: #263949; }
        .skin-1 .side-bar .side-bar-title .side-bar-title-skin div:nth-child(3) {
          position: absolute;
          animation: fadeIn 3s infinite;
          transform: rotate(-100deg) rotateX(20deg) rotateY(60deg);
          top: -65px;
          left: 97px;
          height: 90px;
          width: 90px;
          background-color: #273d4a; }
        .skin-1 .side-bar .side-bar-title .side-bar-title-skin div:nth-child(4) {
          animation: fadeIn 4s infinite;
          position: absolute;
          top: -6px;
          left: 91px;
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 110px solid transparent;
          border-right: 104px solid #263949; }
    .skin-1 .side-bar .side-bar-menu ul li .side-bar-menu-pop {
      color: #fff;
      background-color: orange; }
    .skin-1 .side-bar .side-bar-menu ul li:hover {
      background-color: #233645;
      color: #fff; }
    .skin-1 .side-bar .side-bar-menu ul .active {
      background-color: #233645;
      color: #fff; }
  .skin-1 .side-bar-toggle {
    background-color: #2f4050; }
    .skin-1 .side-bar-toggle .side-bar-toggle-menu ul li {
      color: #a7b1c2; }
    .skin-1 .side-bar-toggle .side-bar-toggle-menu ul li:hover {
      background-color: #293846;
      color: #fff; }
    .skin-1 .side-bar-toggle .side-bar-toggle-menu ul li:active {
      background-color: #293846;
      color: #fff; }
    .skin-1 .side-bar-toggle .side-bar-toggle-menu ul .active {
      background-color: #293846; }
  .skin-1 .container {
    color: #999; }
    .skin-1 .container .header {
      background-color: #F5F5F5;
      border-bottom: solid 1px #eee; }
      .skin-1 .container .header .menu-toggle-button {
        background-color: #1ab394;
        color: #FFF; }
      .skin-1 .container .header .menu-toggle-button:active {
        background-color: #2f4050; }
    .skin-1 .container .title-menu {
      border-bottom: solid 2px #2f4050; }
      .skin-1 .container .title-menu .title-menu-button {
        border-right: solid 1px #eee;
        background-color: #fff; }
      .skin-1 .container .title-menu .title-menu-button-forward {
        border-left: solid 1px #eee; }
      .skin-1 .container .title-menu .title-menu-container {
        border-right: solid 1px #eee;
        background-color: #fff; }
        .skin-1 .container .title-menu .title-menu-container ul li {
          border-right: solid 1px #eee; }
        .skin-1 .container .title-menu .title-menu-container ul li:hover {
          background-color: #F5F5F5; }
        .skin-1 .container .title-menu .title-menu-container ul .active {
          background-color: #2f4050; }
          .skin-1 .container .title-menu .title-menu-container ul .active i:hover {
            cursor: pointer;
            color: #eee; }
        .skin-1 .container .title-menu .title-menu-container ul .active:hover {
          background-color: #2f4050; }
          .skin-1 .container .title-menu .title-menu-container ul .active:hover i:hover {
            cursor: pointer;
            color: #eee; }
      .skin-1 .container .title-menu .title-menu-button:hover {
        background-color: #F5F5F5; }
    .skin-1 .container .content {
      background-color: #F5F5F5; }

.side-bar {
  position: fixed;
  width: 220px;
  height: 1000%;
  z-index: 1; }
  .side-bar .side-bar-title {
    height: 89px;
    padding: 33px 25px; }
    .side-bar .side-bar-title .side-bar-title-head-img {
      width: 64px;
      height: 64px; }
      .side-bar .side-bar-title .side-bar-title-head-img img {
        animation: fadeIn 1s;
        border-radius: 50px;
        width: 64px;
        height: 64px; }
    .side-bar .side-bar-title .side-bar-title-name {
      cursor: pointer;
      margin-top: 5px;
      color: #DFE4ED;
      font-size: 13px; }
    .side-bar .side-bar-title .side-bar-title-power {
      cursor: pointer;
      font-weight: 100;
      font-size: 13px;
      color: #8095a8; }
      .side-bar .side-bar-title .side-bar-title-power i {
        font-size: 12px;
        color: #8095a8; }
  .side-bar .side-bar-menu ul {
    margin-top: 15px;
    padding: 0px; }
    .side-bar .side-bar-menu ul li {
      padding: 14px 0px 14px 25px;
      color: #a7b1c2;
      font-size: 13px;
      animation: fadeIn 1s;
      cursor: pointer; }
      .side-bar .side-bar-menu ul li .fa {
        margin-right: 10px; }
      .side-bar .side-bar-menu ul li .side-bar-menu-arr {
        float: right;
        margin-right: 20px; }
      .side-bar .side-bar-menu ul li ul li {
        padding: 6px 0px 6px 28px; }
  .side-bar .side-bar-menu .side-bar-menu-pop {
    position: relative;
    left: 20px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    width: 28px;
    height: 14px;
    font-size: 10px; }

.side-bar-toggle {
  position: fixed;
  width: 70px;
  height: 1000%;
  z-index: 1; }
  .side-bar-toggle .side-bar-toggle-menu ul {
    margin: 0px;
    padding: 0px; }
    .side-bar-toggle .side-bar-toggle-menu ul li {
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      padding: 18px 0px;
      margin: auto auto; }

.header {
  height: 50px;
  width: 100%; }
  .header div {
    cursor: pointer; }
  .header .menu-toggle-button {
    position: relative;
    top: 10px;
    font-family: Helvetica;
    border-radius: 3px;
    margin-left: 20px;
    height: 28px;
    width: 38px;
    text-align: center;
    line-height: 28px;
    font-size: 14px; }

.title-menu {
  width: 100%;
  height: 42px;
  font-size: 14px;
  font-weight: 100; }
  .title-menu .title-menu-button {
    z-index: 1000;
    position: relative;
    cursor: pointer;
    float: left;
    height: 41px;
    line-height: 41px;
    border: solid 1px #fff;
    text-align: center;
    width: 40px;
    margin-bottom: 1px; }
  .title-menu .title-menu-button-forward {
    float: right; }
  .title-menu .title-menu-button-exit {
    float: right;
    width: 60px; }
  .title-menu .title-menu-button-close {
    float: right;
    width: 80px; }
  .title-menu .title-menu-container {
    z-index: 0;
    width: 10000px;
    position: fixed;
    height: 41px;
    line-height: 41px;
    border: solid 1px #fff;
    text-align: center;
    margin-bottom: 1px; }
    .title-menu .title-menu-container ul {
      margin: 0;
      padding: 0; }
      .title-menu .title-menu-container ul li {
        float: left;
        cursor: pointer;
        display: block;
        padding: 0px 20px;
        border-right: solid 1px #fff; }
        .title-menu .title-menu-container ul li i {
          padding: 0px 2px; }
        .title-menu .title-menu-container ul li i:hover {
          cursor: pointer;
          color: #c00; }

.content {
  overflow-y: scroll;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
