.header {
  height: 50px;
  width: 100%;
  div{
    cursor: pointer;
  }
  .menu-toggle-button {
    position: relative;
    top:10px;
    font-family: Helvetica;
    border-radius: 3px;
    margin-left: 20px;
    height: 28px;
    width: 38px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
  }
}
