.search-group {
  li:hover {
    background-color: transparent !important;
  }
  li {
    .react-datepicker__input-container{
      input {
        cursor: pointer;
        position: relative;
        width: 150px !important;
        bottom: 6px;
        padding-left: 5px;
        height: 25px !important;
        border: 0;
      }
    }
    input {
      display: inline-block;
      position: relative;
      bottom: 2px;
      width: 150px !important;
      padding-left: 5px;
      height: 25px !important;
      border: 0;
    }
    .search-btn {

    }
  }
  .select {
    padding: 0 !important;
    height: 30px;
    line-height: 35px;
    select {
      padding: 0px 15px;
      width: 100%;
      cursor: pointer;
      position: relative;
      bottom: 2px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      height: 25px;
      border: 0;
    }
    span{
      position: relative;
      bottom: 2px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
    }
    input[type=date] {
      text-align: right !important;
      cursor: pointer;
      width: 150px !important;
      position: relative;
      bottom: 6px;
      text-align: left !important;
      padding-left: 5px;
      height: 25px !important;
      border: 0;

    }
  }

}