body{
  .shield-modify{
    z-index: 1002;
    position: absolute;
    left:calc(50% - 45%);
    top:calc(50% - 45%);
    border-radius: 1px;
    height: 90%;
    width: 90%;
    background-color: #fff;
    .shield-modify-container{
      height: calc(100% - 60px);
      width: 100%;
      overflow: auto;
      .shield-modify-content{
        ul{
          margin: 0;
          padding: 5%;
          li {
            padding:1% 0;
            height: 25px;
            font-weight: 600;
            line-height: 25px;
            display: inline-block;
            span{
              display: inline-block;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .check-box-group{
              position: relative;
              display: inline-block;
              input{
                display: inline-block;
                vertical-align: super;
                line-height: 23px;
              }
              .check-box{
                label{
                  cursor: pointer;
                  font-weight: 300;
                  margin: 0 2px 0 10px;
                }
                display: inline-block;
                vertical-align: top;
                float: left;
              }
              select{
                vertical-align: super;
                text-align: center;
                line-height: 23px;
                font-size: 16px;
                cursor: pointer;
                margin: 0 0 0 10px;
                padding: 0 0 0 10px;
                border: solid 2px;
                border-radius: 1px;
                background-color: inherit;
                width: 100%;
                height: 30px;
              }
              .react-datepicker__input-container{
                vertical-align: super;

              }
            }

            input {
              display: inline-block;
              vertical-align: top;
              width: 60%;
              line-height: 23px;
              margin: 0 0 0 10px;
              text-align: center;
              border: solid 2px;
              border-radius: 1px;
            }

            i{
              cursor: pointer;
              margin: 0 0 0 10%;
              font-size: 25px;
            }
          }
        }
        .single-item{
        }
        .multiple-item{
          float: left;
        }

      }

    }


    .shield-modify-footer{
      height: 60px;
      width: 100%;
      text-align: right;
      line-height: 20%;
    }

    .must-filling {
      span{
      }
      span:before {
        content: '(必填)';
        font-size: 1px;
      }
    }

    .shield-modify-content-search-group{
      overflow: auto;
      height: calc(100% - 60px);
      .field-list{
        overflow: hidden;
        margin: 10px 0 10px 0;
        ul{
          margin: 0px;
          .spacial{
          }
          li{
            height: 20px;
            line-height: 20px;
            float: left;
            user-select: none;
            cursor: pointer;
            padding:0 10px 0 10px;
            margin: 10px 0px auto 10px;
            border:solid 1px;
            border-radius: 3px;
            max-width: calc(25% - 32px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

  }
}