.side-bar{
  position: fixed;
  width: 220px;
  height: 1000%;
  user-select:none;
  z-index: 999;
  .side-bar-title{
    position: relative;
    z-index: 10;
    height: 89px;
    padding: 33px 25px;
    .side-bar-title-head-img{
      width: 64px;
      height: 64px;
      cursor: pointer;
      img{
        border-radius: 50px;
        width: 64px;
        height: 64px;
      }
    }

    .side-bar-title-name{
      cursor: pointer;
      margin-top: 5px;
      font-size: 13px;
    }
    .side-bar-title-power{
      cursor: pointer;
        font-weight: 100;
        font-size: 13px;
      i{
        font-size: 12px;
      }
    }
  }
  .side-bar-menu {
    z-index: 2;
    position: relative;
    ul {
      margin-top: 15px;
      padding: 0px;
      li {
        padding: 14px 0px 14px 25px;
        font-size: 13px;
        cursor: pointer;
        .fa {
          margin-right: 10px;
        }
        .side-bar-menu-arr {
          position: absolute;
          left: 190px;
        }
        ul{
          li{
            padding: 6px 0px 6px 28px;
          }
        }
      }

    }
    .side-bar-menu-pop {
      position: relative;
      left: 20px;
      display: inline-block;
      border-radius: 3px;
      text-align: center;
      width: 28px;
      height: 14px;
      font-size: 10px;
    }
  }
}

.side-bar-toggle{
  position: fixed;
  width: 50px;
  height: 1000%;
  z-index: 1;
  .side-bar-toggle-menu{
    ul {
      margin: 0px;
      padding: 0px;
      .head-li{ list-style: none}
      .head-li:hover{list-style: none}
      .head-img{
        cursor: pointer;
        width: 50px;
        height: 50px;
      }
      li {
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        margin: auto auto;

      }
    }
    .side-bar-toggle-menu-mini-item{
      width: 150px;
      position: relative;
      bottom:50px;
      left: 150px;
      ul{
        li{
          user-select: none;
          .side-bar-mini-arr{
            position: absolute;
            line-height: 50px;
            right:10px;
          }
        }
      }
    }

  }
}

