.side-bar{
  position: fixed;
  width: 220px;
  height: 1000%;
  user-select:none;
  .side-bar-title{
    position: relative;
    z-index: 10;
    height: 89px;
    padding: 33px 25px;
    .side-bar-title-head-img{
      width: 64px;
      height: 64px;
      img{
        border-radius: 50px;
        width: 64px;
        height: 64px;
      }
    }
    .side-bar-title-name{
      cursor: pointer;
      margin-top: 5px;
      color: #DFE4ED;
      font-size: 13px;
    }
    .side-bar-title-power{
      cursor: pointer;
        font-weight: 100;
        font-size: 13px;
        color: #8095a8;
      i{
        font-size: 12px;
        color: #8095a8;
      }
    }
  }
  .side-bar-menu {
    z-index: 1;
    position: relative;
    ul {
      margin-top: 15px;
      padding: 0px;
      li {
        padding: 14px 0px 14px 25px;
        color: #a7b1c2;
        font-size: 13px;
        cursor: pointer;
        .fa {
          margin-right: 10px;
        }
        .side-bar-menu-arr {
          float: right;
          margin-right: 20px;
        }
        ul{
          li{
            padding: 6px 0px 6px 28px;
          }
        }
      }

    }
    .side-bar-menu-pop {
      position: relative;
      left: 20px;
      display: inline-block;
      border-radius: 3px;
      text-align: center;
      width: 28px;
      height: 14px;
      font-size: 10px;
    }
  }
}

.side-bar-toggle{
  position: fixed;
  width: 70px;
  height: 1000%;
  z-index: 1;
  .side-bar-toggle-menu{
    ul {
      margin: 0px;
      padding: 0px;
      li {
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        padding: 18px 0px;
        margin: auto auto;
      }
    }
  }
}

